*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

:root{
  --g-color: rgba(255, 255, 255, 0.1);
  --back: #64b5f6;
  --txt: #000;
  --light: rgba(255, 255, 255, .8);
  --mid: linear-gradient(45deg, rgba(235, 235, 235, 0.392), rgba(31, 172, 253, 0.704));
  --text: rgb(59, 59, 59);
}

.app{
  background-color:  var(--back);
  transition: .5s ease-in-out;
}
.load img{
  mix-blend-mode: screen;
  width: 5rem;
  filter: invert();
}

body::-webkit-scrollbar{
  display: none;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, .25);
  cursor: pointer;
  transition: .5s ease-in-out;
  position: sticky;
  top: 0%;
  z-index: 5000;
  background-color: var(--back);
}

.nav-bar:hover{
  box-shadow: 0 2px 10px 1px rgba(255, 255, 255, 0.15);
}

.nav-bar .search-box{
  border-radius: 1.5rem;
  border: 2px solid rgb(255, 255, 255);
  font-size: .8em;
  width: 5.4rem;
  background-color: rgba(255, 255, 255, 0.3);
  transition: .5s ease-in-out;
  color: var(--text);
  padding: 8px 20px;
}

.nav-bar .search-box::placeholder{
  color: var(--text);
}

.nav-bar .search-box:focus{
  width: 12rem; 
  background-color: var(--light);
  outline: none;
}

.mid-image{
  width: 100%;
  background-color: aqua;
  margin: 0;
  max-height: 20rem;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.mid-image img{
  margin-top: -3rem;
  min-width: 100%;
}

.mid-image .txt{
  position: absolute;
  height: 100%;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: var(--mid);
}

.grid-section{
  padding: 1.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
}

.grid-item{
  background-color: var(--g-color);
  border-radius: .4rem;
  padding: 3.5rem 10px 2rem 10px;
  margin-top: 10px;
  width: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  outline: none;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.212), rgba(0, 0, 0, .1));
  backdrop-filter: blur(5px);
  transition: .1s ease-in-out;
  cursor: pointer;
  align-items: center;
}


.grid-item:hover{
  box-shadow: -5px 0 20px rgba(253, 253, 253, 0.25);
  padding: 3.6rem 11px 2.1rem 11px;
}

.grid-item:hover img{
  width: 13rem;
  margin-top: -6.2rem;
  opacity: 1;
  animation: weatherIcon .15s ease-in-out infinite;
}

.grid-item img{
  width: 10rem;
  position: absolute;
  top: -2.5%;
  z-index: -1;
  opacity: .8;
  transition: .25s ease-in-out;
  margin-top: -5rem;
}

a, a:visited, a:link, a:hover, a:active{
  color: #fff;
  text-decoration: none;
  font-style: normal;
}

.hom{
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  padding-bottom: 5rem;
}

a:hover{
  font-weight: 900;
}


.balls .ball{
  height: 100px;
  position: absolute;
  width: 100px;
  animation: ball .1s ease;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.236);
}

.balls .ball:first-child{
  top: -10%;
  z-index: 60;
  font-size: 2rem;
  right: -5%;
}
.balls .ball:last-child{
  bottom: 10%;
  font-size: 2.2rem;
  left: -5%;
  animation-delay: 2s;
}

.hom:hover .ball:first-child{
  animation: ball 2s ease-in-out infinite;
}
.hom:hover .ball:last-child{
  animation: ball 1.5s ease-in-out infinite;
}

/* Open page area */
.vCard{
  display: grid;
  padding: 2.4rem;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}

.vCard .details{
  padding: 1rem;
  grid-area: left;
  gap: 10px;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main main" "light light" "Current Current";
}

.grid-item-main{
  grid-area: main;
  border-radius: 1rem;
  height: fit-content;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
}
.grid-item-ad{
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: .5rem;
  padding: 1rem;
  grid-area: light;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}

.vCard .vIcon{
  display: flex;
  grid-area: right;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.vCard .state{
  font-size: 5.5rem;
  font-weight: 600;
}
.vCard .vIcon img{
  max-width: 40rem;
  position: absolute;
  margin-top: 5rem;
  animation: ball 4s ease-in-out infinite;
}

.vCard .vIcon img:nth-child(2){
  max-width: 8rem;
  z-index: 3;
  animation: ball 2s ease-in-out infinite;
  top: 10%;
  margin-top: 0;
  right: 10%;
}

.vCard .vIcon img:nth-child(3){
  max-width: 8rem;
  bottom: 10%;
  margin-top: 0;
  animation: ball 2.2s ease-in-out infinite;
  left: 10%;
}

.Current{
  grid-area: Current;
  border-radius: 1rem;
  padding: 1rem;
}

.Current .icons{
  display: grid;
  border: none;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.top{
  padding: .5rem;
  margin-bottom: .2rem;
}
.Current .icons .feel{
  padding: .6rem;
  opacity: .8;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;
  border-radius: 1rem;
  transition: .25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Current .icons .feel:hover{
  opacity: 1;
}

.high{
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

@keyframes weatherIcon {
  50%{
    transform: rotate(-2deg)
  }
  100%{
    transform: rotate(2deg);
  }
}

@keyframes ball {
  25%{
    transform: translateY(-10px);
  }
  75%{
    transform: translateY(10px);
  }
}

@media screen and (max-width: 900px) {
  .grid-section{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .grid-item:hover img{
    margin-top: -10rem;
    width: 18rem;
  }

  .grid-item img{
    width: 15rem;
    margin-top: -8rem;
  }
  .vCard{
    display: grid;
    padding: .4rem;
    gap: 290px;
    grid-template-columns: 1fr;
    grid-template-areas: "right" "left";
  }
  .vCard .vIcon img:nth-child(3) {
    bottom: -20rem;
    margin-top: 0;
    left: 10%;
  }
  
  .vCard .state{
    font-size: 2rem;
  }
  .vCard .vIcon img{
    margin-top: -2rem;
  }  
  .Current{
    padding: 0;
  }
}


@media screen and (max-width: 700px) {
  .grid-section{
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px;
  }
  .vCard .vIcon img{
    margin-top: 2rem;
  }  
}